 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 63px 16px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 70px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 410px;
  background-image: url("/static/images/undraw_time_management_re_tk5w.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    min-height: 245px;
  }
}