 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 565px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 244px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 8px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 8px auto 0 8px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 209, 0) !important;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 8px auto 0 8px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 8px auto 0 8px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 112px 0 30px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.375em;
  vertical-align: -4px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 auto 0 30px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.375em;
  vertical-align: -1px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 8px auto 0 30px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.375em;
  vertical-align: -1px;
}

.u-section-1 .u-table-1 {
  width: 1064px;
  margin: 30px auto 60px;
}

.u-section-1 .u-table-header-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-icon-8 {
  font-size: 2.0626em;
}

.u-section-1 .u-icon-9 {
  font-size: 2.0626em;
}

.u-section-1 .u-icon-10 {
  font-size: 2.0626em;
}

.u-block-9cc3-45 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 30px;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-8 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}